{% extends "FourxxiTestJobBundle:Default:indexBase.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{asset('bundles/fourxxitestjob/css/index.css')}}" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                {% for user in users %}
                    <li>
                        {{user.firstName}}&nbsp;{{user.lastName}}
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">


            <div class="messagediv">
                <p>message</p>
                <p><a class="btn btn-default btn-sm" href="#" role="button">Edit</a></p>
                <span>author: Sun</span>
            </div>

            <form class="messagediv form-inline">
                <textarea rows="5"></textarea>
                <button type="button" class="btn btn-primary btn-sm">Save</button>
                <span>New message</span>
            </form>
        </div>

    </div>
{% endblock %}
